<form [formGroup] = "grandparentForm()">

  

  <div>
    <label for="counterPages">Number of pages</label>
    <button type="button" (click)="decrement('pages')">-</button>
    <input type="number" id="counterPages" formControlName= "pages">
    <button type="button" (click)="increment('pages')">+</button>
  </div>

  <div>
    <label for="counterLanguages">Number of languages</label>
    <button type="button" (click)="decrement('languages')">-</button>
    <input type="number" id="counterLanguages" formControlName = "languages">
    <button type="button" (click)="increment('languages')">+</button>
  </div>

</form>
